* {
    font-family: 'Red Hat Text', sans-serif;
}

h1 {
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    text-align: center;
    position: relative;
    letter-spacing: 6px;
    top: 100px;
    font-size: 24px;
}

body {
    margin: 0;
    background-color: hsl(235, 16%, 14%);
    background-image: url("/images/bg-stars.svg");
}

#hills {
    /* width: 100vw; */
    max-width: 100%;
    height: 30vh;
    position: absolute;
    bottom: 0;
    /* background-clip: content-box; */
    /* background-size: cover; */
}

.countDown {
    width: 100vw;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white */
}

.countDown-box {
    width: 64px;
    height: 64px;
    margin: 15px;
    border-radius: 5px;
    font-size: 50px;
    background-color: hsl(236, 21%, 26%);
}

.countDown-item {
    text-align: center;
    font-size: 2.5rem;
    color: hsl(345, 95%, 68%);
    margin-top: 5px;
}
.countDown-box p{
    text-transform: uppercase;
    font-size: 15px;
    color: hsl(237, 18%, 59%);
    text-align: center;
    letter-spacing: 2px;
    margin: 17px -9px;
}
.icon-bar {
    width: 36%;
    text-align: center;
    position: absolute;
    left: 34%;
    bottom: 16%;
    /* border: 2px solid white; */
}

.social-media-icon {
    margin: 0px 3%;
}